@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #111;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.topbar {
    background-color: rgb(177, 177, 177);
    height: 75px;
    padding: 10px 0;
}

h1 {
    font-size: 46px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

h2 {
    font-size: 30px;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: rgb(10, 10, 10);
    padding: 8px 14px;
    border-radius: 8px;
    display: inline-block;
    transition: transform 0.2s ease;
}

a:hover {
    transform: translateY(-3px);
}

ul {
    color: white;
    text-align: center;
    padding-left: 0;
}

li {
    margin: 10px;
}